name: Infrastructure Destroy (Dev)

on:
  workflow_dispatch: # Chạy thủ công

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    name: Terraform Destroy
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infrastructure/environments/dev

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::856558476809:role/github-actions-deploy-role
          aws-region: ap-southeast-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        env:
          TF_VAR_github_token: ${{ secrets.GH_TOKEN }}
        run: terraform destroy -auto-approve
