name: Infrastructure CD (Dev)

on:
  push:
    branches: [ "master" ]
    paths:
      - 'infrastructure/**' # Chỉ chạy khi code infra thay đổi
      - 'services/**'       # Chạy khi sửa Code Backend
permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infrastructure/environments/dev

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::856558476809:role/github-actions-deploy-role
          aws-region: ap-southeast-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        if: github.ref == 'refs/heads/master' # Chỉ apply khi merge vào master
        run: terraform apply -auto-approve tfplan